/* Format for applying styling rules */
[selector] {
  [property]: [value];
}

/* Global Styles go here */
.body {
  color: black;
  font-family: "Courier New", Courier, monospace;
}
body::-webkit-scrollbar {
    width: .4em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: pink;
  outline: 1px solid slategrey;
  width: .4em;
}

img {
  width:100%;
}

tr {
  vertical-align: top;
}
.ww-page {
  width: 600px;
  overflow: hidden;
  position:relative;
}
.ww-title {
  width:100%;
}
.ww-audio {
  float:left;
  width:50%;
  opacity:50%;
  margin: 1%;
}
.ww-audio:hover {
  opacity:100%;
}

.ww-sidebar {
  margin-top: 5%;
  width:3%;
  position: fixed;
  z-index:101;
}

.ww-sidebar-inner img {
  transform-origin: 45% 55%;
  transition: transform 1s, filter .5s ease-out;
  opacity:20%;
}
/* The Transformation */
.ww-sidebar-inner:hover img {
  transform: scale(2);
  opacity: 100%;
}

.ww-page-inner {
  width: 100%;
  overflow:hidden;
  position: relative;
}

.ww-page-side-image-container {
  width:30%;
  float:left;
}
.ww-bendyman {
  position:absolute;
  left: 5%;
  top: 8%;
  z-index: -1;
}
#drag {
  postion:absolute;
  z-index:-1;
}

.ww-page-main-image-container {
  width:70%;
  float:left;
}
.ww-tehe {
  position: absolute;
  left: 50%;
  top: 50%;
}

.ww-page-top-image-container {
  width:100%;
}
.ww-page-bottom-image-container {
  width:50%;
  margin: 0 auto;
}
.ww-fish {
  position: absolute;
  left: 40%;
  top: 60%;
  transform-origin: 45% 55%;
  transition: transform 1s, filter .5s ease-out;
}
.ww-fish:hover img {
  transform: scale(2);
}
.ww-page-left-image-container{
  width:50%;
  float:left;
}
.ww-page-right-image-container{
  width:50%;
  float:left;
}
.ww-page-right-image-container:hover img{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -webkit-box-shadow:0px 0px 30px 0px pink
    -moz-box-shadow:0px 0px 30px 0px pink;
    box-shadow:0px 0px 30px 0px pink;
}
.ww-mum {
  position:absolute;
  top:1%;
  width:30%;
  transform-origin: 45% 55%;
  transition: transform 1s, filter .5s ease-out;
}
.ww-mum:hover img {
  transform: scale(1.5);
}

.ww-credits {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  width:50%;
  margin: 0 auto;

}

@media all and (max-width:800px)
{
    .ww-sidebar
    {
        width: 3%;
        margin-top:5%;
    }
}
@media all and (max-width: 400px)
{
  .body
  {
   width: 100%;
   height: 100vh;
   position: relative;
   overflow-y: hidden;
  }
  .ww-sidebar  {
   width: 5%;
   margin-top:5%;
  }
}
